@import "components/fonts.less";
@import "components/mixins.less";
@import "components/reset.less";
@import "components/variables.less";

html{
  height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font: 14px PT Sans, sans-serif;
	line-height: 1;
}

div[class*="col-"]{
  
  border: 1px solid black;
}


.wrapper{
  min-height: 100%;
  margin-bottom: -200px; 
}

#footer{
  height: 200px;
  margin-top: -200px;
}

#header{
	background-color: #fff;
	.logo{
		display: inline-block;
		text-decoration: none;
		&:hover .logo-img{
	    	background: url('../img/logo-l.png') no-repeat;
	    }
		.logo-img{
			height: 80px;
			width: 55px;
	    display: inline-block;
	    margin: 15px 0;
	    vertical-align: middle;
	    background: url('../img/logo.png') no-repeat;
	    .tr(background .5s ease-in-out);
		}
		.site-name{
			display: inline-block;
	    font-family: 'Neucha', cursive;
	    font-size: 39px;
	    margin: 21px 0 0px 17px;
	    vertical-align: middle;
	    color: @blue-d;
	    text-transform: uppercase;
		}
	}
	.category-title{
		display: inline-block;
		font-family: 'Neucha', cursive;
		font-size: 28px;
		color: @blue-d;
		background-color: @yellow;
		line-height: 30px;
    margin: 21px 10px 0px 9px;
    vertical-align: middle;
    padding-right: 10px;
    p{
    	position: relative;
    	bottom: -5px;
    }
	}
	.header-btns{
		float: right;
		margin-top: 50px;
		.header-btn{
			display: inline-block;
			background-color: @yellow;
			padding: 0;
			height: 30px;
			max-width: 30px;
			overflow: hidden;
			.tr(all .5s);
			&:hover{
				max-width: 200px;
				.tr(all 1.5s);
			}
			&.search-button{
				.search-icon{
					background-position: 9px 9px;
				}
				#search-form{
					display: inline-block;
    			width: 150px;
					input[type="text"]{
						vertical-align: top;
						text-decoration: none;
						color: @blue-d;
						font-size: 16px;
						line-height: 30px;
						padding: 0 15px;
						background: transparent;
						border: none;
						.tr(all .5s);
						.placeholder-color(@blue-d);
						&:focus {
    					outline:none;
						}
					}
					input[type="sumbit"]{
						position: absolute;
						left: -5555px;
					}
				}
			}
			&.add-button{
				.add-icon{
					background-position: -27px 9px;
				}
			}
			&.login-button{
				.login-icon{
					background-position: -63px 9px;
				}
			}
			.h-btn-icon{
				display: inline-block;
				width: 30px;
				height: 30px;
				vertical-align: top;
				background: @blue-l url('../img/menu_icons.png') no-repeat;
			}
			a{
				vertical-align: top;
				text-decoration: none;
				color: @blue-d;
				font-size: 16px;
				line-height: 30px;
				padding: 0 15px;
				.tr(all .5s);
			}
		}
	}
}